/* General */
* {
    box-sizing: border-box;
}
.container {
    border: 2px solid gray;
    padding: 10px;
}
/* header */
.top-banner {
    position: relative;
}

.top-banner form {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10.5px;
}
/* aside */
.news>a, news span {
    display: block;
}

aside {
    float: left;
    width: 25%;
}

/* Contenido Central */
section {
    float: right;
    width: 73%;
}

.main-content {
    float: left;
    width: 75%;
}

.main-content img {
    float: left;
    margin-right: 20px;
}

.side-content {
    float: right;
    width: 24%;
}

/* footer */
.clear {
    clear: both;
}

footer {
    margin-top: 20px;
}

footer span {
    float: right;
}

