/* Tipos de Display: none, inline, block, inline-block */
/* [class^="box"] {
    /* background-color: steelblue; */
} */

.box-0 {
    display: none;
}

.box-3,
.box-3 p,
.box-4, 
.box-4 p {
    display: inline-block;

}

.box-5, /*Selecciona el div box 5 clase box 5*/
.box-6, /*Selecciona el div box 6 clase box 6*/
.box-5 p, /*Selecciona el div box 5 clase box 5 y el parrafo de dentro*/
.box-6 p { /*Selecciona el div box 6 clase box 6 y el parrafo de dentro*/

    display: inline;
}

.rectangle {
    background-color: teal;
    height: 50px;
    width: 25%; /*Porcentaje siempre relativo a su elemento padre*/
}

/*Centrar horizontalmente Eje X*/
.x-centered {
    margin: auto;
}

/*Posicion ReTamaño de cajaslativa*/
.pos-relative {
    position: relative;
    left: 150px;
    top: -50px;
    z-index: -1; /*Controla la superposicióm*/
}

/*Posicion Absoluta*/
.pos-absoluta-parent {
    height: 300px;
    border: 15px solid red;

    position: relative;
}

.pos-absoluta-child {
    height: 50px;
    width: 50px;
    background-color: #333;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

/* Posicion Fijo / Fixed */
.pos-fixed {
    /* background-color: green;
    padding: 20px 30px;

    position: fixed;
    bottom: 30px;
    right: 30px; */
}

.pos-fixed a {
    color: white;
    text-decoration: none;
}

.pos-sticky {
    background-color: steelblue;
    padding: 15px 25px;

    position: sticky;
    top: 0;
    z-index: 2;

}

.pos-sticky a {
    color: white;
    padding: 15px 20px;

    
    text-decoration: none;
}

/* Posicionamiento Flotante: divs dentro de otros divs */
.pos-float-parent {
    border: 5px solid royalblue;
    font-size: 30px;

    overflow: hidden;

    /*Para gestionar el desbordamiento del contenido */
}

.pos-float-child-1 {
    background-color: brown;
    height: 100px;
    width: 33.3%;

   float: left;
}

.pos-float-child-2 {
    background-color: darkblue;
    height: 100px;
    width: 33.3%;

    float: right;
}

.pos-float-child-3 {
    background-color: orange;
    height: 50px;
    width: 100%;
}

.pos-float-child-4 {
    background-color: blueviolet;
    height: 100px;
    width: 100%;

    clear: both;
}

.pos-float-child-5 {
    background-color: mediumaquamarine;
    height: 50px;
    width: 33%;

    float: right;
}

.pos-float-child-6 {
    background-color: yellow;
    height: 50px;
    width: 100%;
}

/* Overflow - Gestion de desbordamiento de contenido */
[class^="overflow-parent"]{
    width: 200px;
    height: 100px;
    border: 3px dashed black;
    margin-bottom: 150px;
}

.overflow-parent-1 {
    overflow: hidden;
}

.overflow-parent-2{
     overflow: visible;
}

.overflow-parent-3 {
    overflow: scroll;
}

/* Tamaño de cajas */
.box-sizing-parent {
    width: 200px;
    height: 200px;
    border: 10px solid goldenrod;
}

.box-sizing-child {
    width: 100%;
    height: 50px;
    background-color: grey;
    border: 10px solid darkolivegreen;

    box-sizing: content-box; 
    /* valor por defecto */
}

.border-box {
    margin-top: 10px;

    box-sizing: border-box;
}

/* Media queries */
.responsive { /*Escritorio*/
    height: 100px;
    background-color: aquamarine;
    width: 10%;
}

@media only screen and (max-width: 920px) {   /*Tablet*/
    .responsive {
        width: 50%;
    }
}

@media only screen  and (max-width: 700px) {   /*MObile*/
    .responsive {
        width: 100%;
    }
}


/* Flexbox */

.flex-parent {
    display: flex;
    flex-direction: row; /*row (defecto), row-reverse, column, column-reverse*/

    height: 250px;
    border: 1px solid #333;

    flex-wrap: nowrap; /*controla una nueva linea si no hay espacio (por defecto)*/
    /* flex-wrap: nowrap; lo mantiene todo y lo va haciendo mas pequeño pero no los cambia de fila */
    /* flex-flow: row wrap; Es un ayuda y hace lo mismo que lo de arriva pero en un mismo comando */

    justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end;

    justify-content: space-around; /*espacio por todos los lados*/
    justify-content: space-between; /*solo espacio en medio*/
    justify-content: space-evenly;

    align-items: center;
    align-items: flex-start;
    align-items: flex-end;
    align-items: stretch; /* Alinea a lo largo del eje vertical*/
}

[class^="flex-child"] {
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-parent>div:nth-child(odd) {  /* Pseudo clase Elegir el hijo que quieras*/ /*odd y even selecionan pares o impares*/
    background-color: #333;
    color: #ddd;

}

.flex-parent>div:nth-child(even) {  /*Elegir el hijo que quieras*/
    background-color: #ddd;
    color: #333;
}

.flex-child-1 {
    flex-shrink: 2;
    flex-basis: 250px; /*Es el tamaño base, a partir de ese punto ya no sigue creciendo, siempre que no se haya puesto flex-grow*/
}

.flex-child-2 {
    flex-grow: 2;
    flex-basis: 250px;
}

.flex-child-3 {
    flex-shrink: 3;
    flex-grow: 3;
    flex-basis: 250px;
}


/* CSS Grid básico con media queries */

[class^="grid-child"] {
    background-color: orange;
}

.grid-parent {
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    grid-template-rows:1fr 2fr;
}

@media only screen and ()