:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 16px;
  background: #89c4ff;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav a.is-active {
  font-weight: bold;
  pointer-events: none;
}
